body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  width: fit-content;
  box-shadow: 0 0 5px rgb(129, 129, 129);
  padding: 30px 50px;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  height: 55px;
  min-width: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: rgb(53, 53, 53);
}
label input {
  height: 20px;
  padding-left: 10px;
}

label input[type="checkbox"] {
  height: 20px;
}

label p {
  position: absolute;
  bottom: -10px;
  font-size: 10px;
  color: red;
}
input[type="submit"],
button {
  height: 40px;
  background: blue;
  border: 0;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}
button {
  width: 150px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.checkbox {
  flex-direction: row;
  align-items: center;
  height: 20px;
}
img {
  width: 100%;
}
.container {
  max-width: 1000px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: auto;
}

nav {
  width: 500px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
nav span {
  width: 125px;
  cursor: pointer;
  transition: all 0.5s;
}

nav span:hover {
  color: rgb(12, 0, 187);
  font-weight: 500;
  transform: translate(-2px, 0);
}
